rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to read and write files only in their own folder: user_uploads/{userId}/<any_path>
    match /user_uploads/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}